*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* for accessability */
.search-bar-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.search-bar {
  position: relative;
  background-color: #5d6f7b;
  font-size: 16px;

  border-radius: 35px;
  border-width: 1px;
  border-style: solid;
  border-color: #5d6f7b;
  width: 500px;
  height: 35px;
  padding: 10px;
  margin: 100px auto 50px;
  overflow: hidden;
}

#search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 5px 9px;
  height: 35px;
  width: 380px;
  border: none;
  border-radius: 50px 3px 3px 50px;
}

.search-bar-button {
  all: unset;
  background-color: #5d6f7b;
  color: #ffff;
  cursor: pointer;
  position: absolute;
  right: 10%;
}

/* .search-bar-button:focus {
} */
